*{
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, Assistant;
}

p{
  margin-bottom: 0px !important;
}
.custom-modal .ant-modal-content {
  border-radius: 4px !important; /* Or 6px, depending on your preference */
}
/* Neutralize modal content styles */
.no-padding-modal .ant-modal-content {
  padding: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

/* Remove modal header spacing if any */
.no-padding-modal .ant-modal-header {
  display: none !important;
}

/* Optional: remove modal close icon */
.no-padding-modal .ant-modal-close {
  display: none !important;
}

.desktop-banner {
    display: block !important;
  }
  .mobile-banner {
    display: none !important;
  }
  
  
  @media (max-width: 768px) {
    .desktop-banner {
      display: none !important;
    }
    .mobile-banner {
      display: block !important;
    }
  }
  
